.pc-set {
	z-index:1;
	display:none;
	position:absolute;
	background-color:white;
	padding:4px;
	border:#a0a0a0 solid 1px;
	top: 24px;
    width: 240px;
    font-family:arial;
}
.pc-wrapper {
	position:relative;
	display:inline-block;
}
.pjs-calendar {

}
.pc-left {
	float:left;
}
.pc-clear {
	clear:both;
}
.pc-set td {
	background-color:#F9F9F9;
	text-align:center;
	min-width:28px;
}
.pc-month, .pc-year {
	text-align:center;
}
.pc-month td{
	border-bottom:#a0a0a0 solid 1px;
	width:222px;
}
.pc-year td {
	border-bottom:#ffffff solid 1px;
}
.pc-month span, .pc-year span{
	display:inline-block;
    width:136px;
    vertical-align:top;
}
.pc-a {
	color:orange;
	font-weight:bold;
}
.pc-ina{
	color:#a0a0a0;
}
.pc-week {
	font-weight:bold;
}
.pc-yright, .pc-yleft, .pc-mright, .pc-mleft, .pc-set td, .pc-left img{cursor:pointer}
.pc-y, .pc-m, .pc-week td, .pc-error td, .pc-select-day {cursor:default !important}
.pc-error td {
	color:red; font-size:10pt; background-color:white;
}
.pc-border-error {border-color:red}
.pc-icon {margin-top:-3px}
.pc-select-day {border:solid 1px #7BADE1}
