.region-outer-list{
	list-style:none;
	padding:0;
	margin:0 auto;
	max-width:840px;
}
.region-outer-list li, .region-outer-list p{
	display:inline-block;
	border:none;
	padding:0;
	padding:0;
}
.region-inner-list{
	display:inline-block;
	vertical-align: top; 
}
.qbtn {
	border:solid #C3D1D7 1px;
	padding:4px 8px;
	text-decoration:none;
	border-radius: 4px;
	background:linear-gradient(to right bottom, #ffffff, #ffffff,  #C3D1D7); 
}
.qbtn-dis {
	border:solid #E4E9EB 1px;
	padding:4px 8px;
	text-decoration:none;
	border-radius: 4px;
	background:linear-gradient(to right bottom, #ffffff, #ffffff,  #E4E9EB);
}
a.regions_item{
	display:block;
	width:200px;
}
.dashed {
	-moz-text-decoration-style: dashed;
}	
html {height:100%}
span.ib {
	white-space:nowrap;
}
.erpage {
	font-weight:bold;
	color:red;
}
.adtitle input[type=text]{
	width:79%;
}

#content {
	clear:both;
	min-height:78%;
	width:99%;
}
#footer {
	background-color: #F0F0F0;
	padding:12px
}

#counter-out {
	min-width:150px;
	height:30px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin: 4px 2px
}
#counter-in {
	font-size:10pt;
	font-family:Arial;
	color:#7EDFFC;
}


.left {float:left}
.right {float:right}
.maincontent {
	padding: 10px 10px;
	margin: 0 auto;
	width:74%;
}
body {
	padding: 0px;
	margin: 0px;
	font-family:Geneva, Arial;
	height:100%
}
#logoplace {
	float:left;
}
#logoplace a{
	text-decoration:none;
	color:#29D4EA
}
#logo-out {
	width:300px;
	height:100px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
#logo-in {
	font-size:14pt;
	color:#29D4EA
}
.slogan {
	text-align:center
}

#banner-out {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	height:120px;
}
#banner-in {
	font-size:30pt;
	color:#6274E4;
	font-weight:normal;
}
header.mainhead {
	border-bottom:green 5px solid;
	min-height:120px;
}
#mfwrap {
	width:100%;
}
#mainsfrormadd {
	width:100% !important;
	background-color: #f0f0f0;
	padding: 10px 16px;
	width:75%;
	margin: 0 auto;
	font-size:10pt;
}
#mainsfrorm {
	background-color: #f0f0f0;
	padding: 10px 16px;
	width:75%;
	margin: 0 auto;
	font-size:10pt;
}
#mainsfrormerror {
	background-color: #FFB0B9;
	padding: 10px 16px;
	width:100%;
	margin: 0 auto;
	font-size:10pt;
	display:none;
	color:#aa0000;
}
#autherror{
	background-color: #FFB0B9;
	padding: 10px 16px;
	color:#aa0000;
}
#mainsfrormsuccess{
	background-color: #B0FFC2;
	padding: 10px 16px;
	width:100%;
	margin: 0 auto;
	font-size:10pt;
	display:none;
}
#mainsfrorm select{
	font-size:11pt;
}

.both, .mlist li {
	clear:both;
}

.prmf {
	margin: 8px 10px 0 0;
}
.upformbtn {
	margin: 18px 21px 0 0;
}
.praf {
	margin:0px 10px 0 0;
}

.ii {
	max-width:130px;
	float:left;
	margin:1px 7px;
}

.lstnone {
	list-style-type:none;
	min-height:350px;
}

.shortitemtext header a{
	color:#3279B2;
	font-weight:bold;
}

.shortitemtext div .name, .phone {
	color:#a0a0a0;
	font-size:10pt;
	margin-top:4px;
}

li {
	border:#a0a0a0 solid 1px;
	margin: 8px 0px;
	padding:0 0 4px 0;
}

.shortitemtext {
	padding-top:15px;
	overflow:hidden;
	min-width:400px;
}

.button {
	padding: 2px 4px;
	border-radius:4px;
	font-weight:bold;
	color:white;
	text-align:center;
	background-color : #20DF4C;
	background: linear-gradient(to top, #0ECD3A, #80EE9A);
	min-height:19px;
	margin:0 auto;
}
/* background: linear-gradient(to top, #0ECD3A, #80EE9A); more dark */
/* #10CF3C, #A0FFAC more light */
.buttons {
	margin:0 auto;
	width:440px; /*360*/
}
.buttons table{
	/*width:100%;*/
	margin:0 auto;
}
.popupouter {
	position:relative; margin:0 auto; width:407px;
}
.upformwrap {
	position:relative !important;
}
.hide {
	display:none;
}
.aformwrap {
	margin:0 auto;
	width:390px;
	height:170px;
	border: 1px solid gray;
	border-radius:8px;
	padding:10px;
	
	position:absolute;
	background-color: white;
	top:0px;
	z-index:5;
}
.aformwrap input[type=button]{
	padding: 4px 6px;
	border-radius:4px;
	border:none;
	font-weight:bold;
	font-size:16px;
	color:white;
	text-align:center;
	background-color : #20DF4C;
	background: linear-gradient(to top, #10CF3C, #A0FFAC);
}
.aformwrap input[type=submit]{
	padding: 4px 6px;
	border-radius:4px;
	border:none;
	font-weight:bold;
	font-size:16px;
	color:white;
	text-align:center;
	background-color : #20DF4C;
	background: linear-gradient(to top, #10CF3C, #A0FFAC);
}
.aformwrap input[type=button]:hover{
	padding: 4px 6px;
	background-color : #18CF3C;
	background: linear-gradient(to top, #0ECD3A, #80EE9A);
	cursor:pointer;
}
.aformwrap input[type=submit]:hover{
	padding: 4px 6px;
	background-color : #18CF3C;
	background: linear-gradient(to top, #0ECD3A, #80EE9A);
	cursor:pointer;
}
.aphone {
	height:62px;
}
.aphone label {
	display:inline-block;
	height:34px;
	margin:4px 0px 0px 7px;
}
.apwd label {
	display:inline-block;
	height:34px;
	margin:4px 0px 0px 7px;
}
.apwd input[type=password] {
	display:inline-block;
	height:34px;
	margin:4px 0px 0px 4px;
	width:369px;
	font-size:24pt;
}
.aphone label img{
}
.slabel {
	display:inline !important;
	height:auto !important;
}
.aphone input[type=text], .aphone input[type=password] {
	height:32px;
	width:330px;
	display:inline-block;
	margin-top:3px;
	vertical-align: top;
	font-size:24pt;
}
.aphone input[type=submit] {
}
.add {
	width:170px;
}
.auth {
	width:170px;
	height:19px
}
.out {
	width:32px;
	height:19px
}
.w20 {
	width:18px;
}

.w16 {
	width:16px;
}


.hidelink, .hidelink img {
	border:none;
	text-decoration:none;
}

#add_legend {
	color:#000981;
}

#add_hr {
	color:#000981;
}

.adname input[type=text]{
	width:99%
}
.red {color:red;}
.pwdmail label{
	width:46px;
	display:inline-block;
}
#grb {
	border: #e0e0e0 solid 1px;
	padding: 0px 8px;
}


.capthtabl td {
	vertical-align:top;
}
.capthtabl td label {
	padding-left:2px;
}

.smbr {
	color:#562911;
	font-size:8pt;
	padding-left:2px;
}
.cabcontrols input[type=button] {
	border-radius:0px;
	background: linear-gradient(to top, #ECEDFF, white);
	float:right;
	margin-bottom:6px;
}
.cabcontrols a {
	border-radius:0px;
	border-right: solid 1px black; 
	border-bottom: solid 1px black; 
	border-top: solid 1px #F0F0F0; 
	border-left: solid 1px #F0F0F0; 
	width:92px;
	height:18px;
	background: linear-gradient(to top, #ECEDFF, white);
	float:right;
	margin-bottom:6px;
	font-size:9pt;
	text-align:center;
	padding:0px 4px;
	color:black;
	text-decoration:none;
}
.cabcontrols {
	float:left;
	width:150px;
	padding:16px 0 0 4px;
}
.vprice {
	color:#CE7350;
	margin: 2px 0 0 0;
}
.b {
	font-weight:bold;
}
.vis {
	display: block !important;
}

.f10 {
	margin-bottom:10px;
	text-indent: 14px;
	
}
.bgwhite {background-color: white !important}

#paginator {
}
#paglist {
	text-align:center;
	width:70%;
	margin: 0 auto; 
}
#paglist li{
	display:inline;
	border-radius:4px;
	border-color:#1B3D7F;
	background-color:#1B3D7F;
}
#paglist li.active {
	display:inline;
	border-color:white;
	background-color:white;
}
#paglist li a {
	color:white;
	font-weight:bold;
	display:inline-block;
	min-width:22px;
	text-decoration:none;
	vertical-align:middle;
}

/* #3279B2 */
/* #1B3D7F purple */
#paglist li span {
	color:#1B3D7F;
	font-weight:bold;
	display:inline-block;
	min-width:18px;
	text-decoration:none;
	vertical-align:middle;
}

.lpm1 {
	margin:18px 0px 0px 8px;
}
.lpm1 a{
	font-size:10pt !important;
}
.darkred {
	color:#aa0000;
}
.pt10 {
	font-size:10pt
}
.cabitem {
    float: right;
    width: 180px;
}
.sz12 input{
	font-size:12pt !important
}

.setform {
	height:400px !important;
}
.avte {
	padding:7px;
	text-indent:15px;
}

.more {width:150px}
.pl3 {margin-left:40px;}
.plm {padding:1px 2px 0 0;  }

.a {color:#3279B2; font-size:12pt}
.dd {color:#3279B2;}

.hnone {
	min-height:10px !important;
}
.back2list {
	width:75px;
}
.please {margin:5px 0 0 8px; color:#3279B2; padding:4px;}
.please_in {margin: 0 auto; width:70%; text-align:center}
.please_in span{vertical-align:top; display:block-inline}

.upb {
	position:fixed;
	top:500px;
	left:40px;
	cursor:pointer;
	opacity:0;
}
.seo a{
	color:#3279B2
}
.blabla h2, a{
	color:#3279B2
}
.blabla p{
	text-indent: 21px;
}