input[type=button] {
  margin-right: 5px;
  width: 82px;
  background: linear-gradient(to bottom,#fcfcfd, #DEE5E8);
  border: 1px solid #548CAF;
  border-radius: 3px;
  font-size: 12px;
  font-family: Arial;
  line-height: 20px;
}

input[type=button]:active{
	background: linear-gradient(to top, #0064ff, white,white,white,white,white, #0064ff);
}

