#dompb {
	/*background-image:url('./../../img/pbar-piece.png');
	background-repeat: repeat-x;
	background-position: 0 0;*/
}
.dompb {
	background-image:url('./pbar-piece.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	height:10px;
}
#progressStateLabel {
	margin-bottom:4px;
}
.pbarwrap {
	width:100%;
	border:1px solid #252526;
	border-radius:4px;
	height:10px;
	background-color:white;
}
.text-center {
	text-align:center;
}
